<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#424242"/>
    <title>Restaurant Apps Starter Project</title>
    <link rel="icon" href="taco.png">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
       <header-app></header-app>
    </header>
    <nav id="drawer" class="nav">
       <app-bar></app-bar>
    </nav>
    <jumbotron-app></jumbotron-app>
    <main id="maincontent">
    </main>
    <footer>
        <footer-app></footer-app>
    </footer>
</body>
</html>
