<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <nav id="drawer" class="nav">
            <div class="jumbotron">Hunger Apps</div>
            <ul>
                <li><a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                    </a></li>
                <li><a href="#home">Home</a></li>
                <li><a href="#gallery">Favorite</a></li>
                <li><a href="#about">About Us</a></li>  
            </ul>
        </nav>
    </header>
    <div class="hero-element">
        <div class="hero-inner">
            <h1 class="hero-title">Restaurant terbaik di jawa tengah</h1>
            <p class="hero-tagline">Banggalah akan kekayaan Indonesia yang semuanya bisa bermanfaat untuk manusia.</p>    
        </div>
    </div>
    <main>
        <section class="content">
            <div class="explore">
                <h1 class="explore-label">Explorer</h1>
                <div class="sample-restaurant">
                    <article class="sample-item">
                        <img src="./images/heros/hero-image_1.jpg" alt="gambar.jpg" class="sample-img">
                            <div class="sample-content">
                                <p class="content-date">Pecel Semarang<a href="#" class="content-author"> By Mangkang Food</a>
                                </p>
                                <h1 class="content-title"><a href="#">Kenapa harus makan pecel sekarang ?</a></h1>
                                <p class="content-description">Karena pecel merupakan makanan dari berbagai sayur sayuran
                                    yang sehat dan segar. Di tambah dengan sambal bumbu kacang yang pedas manis di campur dengan
                                    berbagai sayuran. Berkasiat untuk badan, banyak mengandung vitamin dan gizi lainnya
                                </p>
                            </div>
                    </article>
                    <article class="sample-item">
                        <img src="./images/heros/hero-image_4.jpg" alt="gambar.jpg" class="sample-img">
                            <div class="sample-content">
                                <p class="content-date">Bergedel Tahu <a href="#" class="content-author">By Mangkang Food</a>
                                </p>
                                <h1 class="content-title"><a href="#">Rasakan bergedel tahu saat ini, tunggu apalagi ?</a></h1>
                                <p class="content-description">Banyak macam jajanan di indonesia, salah satunya Bergedel.
                                    Bergedelpun dibuat dari berbagai macam bahan seperti kentang, tahu dan lain sebagainya.
                                    Untuk bergedel tahu merupakan campuran dengan tahu yang diremuk dijadikan satu dengan adonan
                                    yang telah dibumbui. Rasanya yang gurih membuat masyarakat banyak yang suka.
                                </p>
                            </div>
                    </article>
                    <article class="sample-item">
                        <img src="./images/heros/hero-image_2.jpg" alt="gambar.jpg" class="sample-img">
                            <div class="sample-content">
                                <p class="content-date">Makan bersama <a href="#" class="content-author">By Mangkang Food</a>
                                </p>
                                <h1 class="content-title"><a href="#">Kenapa makan bersama keluarga Sekarang?</a></h1>
                                <p class="content-description">Pentingnya memiliki waktu untuk bersama dengan orang yang kita
                                    sayangi, salah satunya keluarga. Hal sederhana yang harus seling dilakukan yaitu makan bersama.
                                    Dengan makan bersama keluarga akan membuat saling memiliki kehangatan dan semakin harmonisnya sebuah 
                                    hubungan. Membuat keluarga menjadi salah satu tempat ternyaman untuk berbagi macam hal.
                                </p>
                            </div>
                    </article>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-restaurant">
            Copyright Muhammad Fathony
        </div>
    </footer>
<!-- <h1>Restaurant Apps Starter Project</h1>
<p>Hallo coders! Anda berhasil menjalankan starter project.</p>
<p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
<img src="./images/heros/hero-image_1.jpg" width="450" alt="">
<img src="./images/heros/hero-image_2.jpg" width="450" alt="">
<img src="./images/heros/hero-image_3.jpg" width="450" alt="">
<img src="./images/heros/hero-image_4.jpg" width="450" alt=""> -->
</body>
</html>
