* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #424242;
}
header {
    display: inline;
}
.button-min {
    display: inline-block;
    min-width : 44px;
    min-height: 44px;
}
.header__menu {
    font-size: 32px;
    display: inline-block;
    position: absolute;
    right: 10px;
    color: white;
    text-decoration: none;

}
.header__title {
    color: white;
    text-decoration: none;
}

#drawer.open {
    transform: translate(0,0)
}
nav {
    background-color: #132c33;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}
nav a {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    padding: 1.3em;
}
nav a:hover {
    font-weight: bold;
}
nav li {
    display: inline;
    list-style-type: none;
    box-sizing: border-box;
    line-height: 24px;
    text-transform: uppercase;
}
nav .icon {
    display: none;
}
.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
}
.title-apps {
    font-size: 20px;
    text-align: center;
    color: #f7f7f7;
    position: absolute;
    padding: 15px;
}
img {
    display: block;
}
.hero-element {
    display: flex;
    align-items: center;
    min-height: 580px;
    width: 100%;
    text-align: center;
    background-image: url("../public/images/heros/hero-image_3.jpg");
    background-position: center;
    background-color: green;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.hero-inner {
    margin: 0 auto;
    max-width: 800px;
}
.hero-title {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
}
.hero-tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
}
main {
    width: 100%;
    margin: 0 auto;
}
.content {
    padding: 32px;
}
.explore {
    width: 100%;
    margin: 60px auto;
    text-align: center;
}
.explore-detail {
    width: 100%;
    margin: 60px auto;
}
.explore-label {
    font-size: 32px;
    font-weight: 500;
}
.explore-label::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}
.sample-restaurant {
    margin: 32px auto auto;
    text-align: left;
    display: grid;
    grid-row-gap: 16px;
}
.sample-item {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.sample-img {
    width: 100%;
    height: 300px;
}
.sample-img-detail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.sample-content {
    padding: 16px 32px 32px 32px;
}
.sample-rating{
    background-color: #132c3391;
    color: white;
    font-weight: 600;
    text-align: right;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.sample-item-detail {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.sample-food-drink {
    background-color: #132c3391;
    color: white;
    font-weight: 600;
    padding: 10px;
}
.menu-foods {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sample-rating-detail {
    background-color: #132c3391;
    color: white;
    font-weight: 600;
    text-align: right;
    padding: 10px;
    position: relative;
    top: 70px;
    bottom: 0;
    border-radius: 5px;
}
.customer-reviews {
    position: relative;
    top: 50px;
}
.review {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    padding: 20px;
}
.review-desc {
    padding: 10px;
    width: 100%;
    height: 50px;
    background-color: #79878b;
    color: white;
    border-radius: 5px;
}
.reviewers {
    text-align: right;
    padding-top: 10px;
}
.date-review {
    padding-bottom: 10px;
}
.content-date {
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
    max-height: 20px;
}
.content-author {
    color: red;
    text-decoration: none;
}
.content-title {
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s opacity;
}
.content-title a {
    text-decoration: none;
    color: inherit;
}
.content-description {
    font-size: 14px;
    line-height: 1.5em;
}
footer {
    display: inline;
}
.footer-restaurant {
    background-color: #132c33;
    padding: 20px;
    bottom: 0;
    width: 100%;
    color: #fff;
}
.footer-basic {
    padding:40px 0;
    color:#ffffff;
}
  
.footer-basic ul {
    padding: 25px;
    list-style:none;
    text-align:left;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}
.copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

.headline__figure {
    width: 100%;
}

.headline__figure img {
    width: 100%;
}

.headline__figure figcaption {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-top: 8px;
}

.headline__content {
    width: 100%;
    padding: 16px 0;
}

.headline__title {
    font-size: 24px;
    font-weight: 500;
}

.headline__description {
    font-size: 12px;
    margin-top: 12px;
}

.headline__button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-top: 24px;
    cursor: pointer;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #2c3e50;
    transition: opacity 0.3s;
}

.headline__button:hover {
    opacity: 0.8;
}
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
 }
  
 .skip-link:focus {
    top: 0;
 }
.favorite-button {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}