@media screen and (min-width: 360px) {
    .footer-basic ul {
        padding: 0;
    }
}
@media screen and (min-width: 455px) {
    .headline__content {
        padding: 16px 16px;
    }

    .headline__title {
        font-size: 28px;
    }

    .headline__description {
        font-size: 16px;
    }
}
@media screen and (max-width: 499px) {
    nav {
        z-index: 10;
        width: 300px;
        position: absolute;

        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }
    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .nav__item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
    }
    .sample-item-detail {
        grid-template-columns: 1fr;
    }
    .button-review {
        top: 0;
    }
}
@media screen and (min-width: 500px) {
    .header__menu {
        display: none;
    }
}
@media screen and (min-width: 650px) {
    .headline__content {
        margin: 0 auto;
        max-width: 650px;
    }
}
@media screen and (min-width: 700px){
    .sample-restaurant {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
}
@media screen and (min-width: 800px) {
    .nav__list {
        margin: 0 auto;
    }
}
@media screen and (min-width: 900px){
    .headline {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .headline__content {
        padding: 16px 32px;
    }
    .sample-restaurant {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .customer-reviews {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
    .add-reviews {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
}
@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
}

